@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600;700&family=Quicksand:wght@400;500;600&family=Zen+Tokyo+Zoo&display=swap");
body {
  margin: 0;
  font-family: "Quicksand", sans-serif;
}

/* .container {
  margin: 0 50%;
} */

.wrapper {
  height: 100%;
}

.logo {
  display: flex;
  align-items: center;
  gap: 40px;
  font-family: "Zen Tokyo Zoo", cursive;
  font-size: 2.4rem;
  background-color: orange;
  justify-content: center;
  padding: 25px 0;
  /* height: 10%; */
}

.logo > img {
  height: 100px;
}

.logo h1 {
  margin: 0;
  color: rgb(85, 51, 51);
  font-weight: lighter;
}

.form {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
  background-color: rgb(219, 129, 19);
  padding: 20px 0;
  /* height: 5%; */
}

.form p,
button {
  font-weight: 600;
  color: rgb(80, 24, 24);
  font-size: 1.1rem;
}

.form input,
button {
  border: 0;
  /* font-size: 1.4rex; */
  border-radius: 20px;
  /* height: 30px; */
  padding: 10px 30px;
  background-color: lightgoldenrodyellow;
}

.quantity {
  width: 30px;
}

.form button {
  background-color: rgb(4, 194, 194);
}

.packingList {
  /* display: flex; */
  /* justify-content: center; */
  background-color: rgb(64, 41, 41);
  /* height: 50%; */
  color: antiquewhite;
  padding: 20px 0;
  /* height: 75%; */
}

.listItems {
  display: flex;
  gap: 20px;
  justify-content: center;
  margin: 0 10px 30px;
}

.buttons {
  display: flex;
  justify-content: center;
  gap: 25px;
}

.buttons button {
  text-transform: uppercase;
  font-size: 0.8rem;
}

.item {
  display: flex;
  align-items: center;
  gap: 3px;
  justify-content: center;
}

.close {
  background-color: transparent;
  padding: 0;
  color: red;
  font-size: 2rem;
  font-weight: lighter;
  align-items: center;
}
.stats {
  background-color: rgb(82, 192, 135);
  display: flex;
  justify-content: center;
  padding: 1.3em 0;
  /* height: 10%; */
}

.stats span {
  color: rgb(85, 51, 51);
  font-weight: 600;
}
